

* {
    box-sizing: border-box;
}


/* --------------------------------- Helpers -------------------------------- */
/* FLEX */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* GRID */
.grid {
    display: grid;
}

.grid.justify-items {
    justify-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hide {
    display: none;
}

/* ------------------------------------ / ----------------------------------- */

body {
    background-color: #22252c;
    font-family: sans-serif;
}

.gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(13em, 1fr));
    gap: 1.3em;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
}

.gallery-grid img:hover, .gallery-grid img:active, .gallery-grid canvas:hover, .gallery-grid canvas:active {
    box-shadow: 0px 0px 9px 3px rgb(255, 255, 255, 0.3);
    cursor: pointer;
}

.gallery-container {
    /* display: none; */
    display: block;
    width: 100%;
    height: 100%;
}

.filter-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-input {
    padding: 0.5em;
    font-size: 20px;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #2d2d2d;
    color: rgba(255, 255, 255, 0.689);
    border-style: hidden;
    margin-inline-start: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, .61);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
}

.rand-meme {
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    height: 40px;
    width: 200px;
    background-color: #1e7cd3;
    box-shadow: 0px -6px 0px #54b2e8, 0px 6px 0px #165c9c;
    margin-left: 1em;
    cursor: pointer;
}